 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;600;700&display=swap');


*{
    font-family: 'Geologica', sans-serif;
    background-color: #e8e4e6;
    color:#001e1d
}

.tittle{   
    font-family: 'Roboto', serif;
    color: #0f3433;
}

.subtittle{
    font-family: 'Geologica', sans-serif;
    color: #001e1d;
    background-color: #079790;
}



h1 {
    font-family: 'Rubik',sans-serif;
    color: #0f3433;
}

a{
    text-decoration:underline;
    font-size: 1.2rem;
}


.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100%;
    background-color: #004643;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem 2rem;
    background-color: #004643;
}

.header .flex .navbar{
    background-color: #004643; 
}

.header .flex .navbar a{
    text-decoration:none;
    margin: 3.5rem;
    font-size: 1.2rem;
    color: #fffffe;
    background-color: #004643; ;
}



.pic-container img.profile-pic{
    max-width: 25%;
    max-height: 10%;
}



main{
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap:wrap;
    justify-content:space-between;
  }



#info-container{
    width: 49%;
}

#objetivo{
    height: 40%;
    width: 49%;
}

#contacto {
    width: 49%;
}

#proyectos{
    width: 49%;
}


#habilidades{
    width: 49%;
}

#mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

#foto{
    border: 1pt solid #272343;
    width: 49%;
}

