 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;600;700&display=swap');


*{
    font-family: 'Geologica', sans-serif;
    background-color: #e8e4e6;
    color:#001e1d
}

.tittle{   
    font-family: 'Roboto', serif;
    color: #0f3433;
}

.subtittle{
    font-family: 'Geologica', sans-serif;
    color: #001e1d;
    background-color: #079790;
    font-size: 150%;
}



h1 {
    font-family: 'Rubik',sans-serif;
    color: #0f3433;
    font-size:xx-large;
}

a{
    text-decoration:underline;
    font-size: 1.2rem;
}


.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100%;
    background-color: #004643;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.header .flex .container-fluid{
    display: flex;
    /* align-items: center; */
    flex-wrap: inherit;
    justify-content: space-between;
    /* position: relative; */
    /* padding: 0.5rem 2rem; */
    background-color: #004643;
}

.header .flex .navbar .container-fluid{
    background-color: #004643; 
    margin: auto;
    /* flex-wrap: inherit; */
}

.header .flex .navbar .container-fluid a{
    text-decoration:none;
    text-align: center;
    margin: 1.2rem 2rem;
    font-size: 1.2rem;
    color: #fffffe;
    background-color: #004643; ;
}

.header .flex .navbar .container-fluid a:hover{
    text-decoration:wavy;
    color: #079790;
}



.pic img.profile-pic{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}



main{
    display: flex;
    row-gap: 0.2rem;
    column-gap: 0.5rem;
    flex-wrap:wrap;
    justify-content:space-between;
  }


#pic{
    display:flex;
    resize:both;
    background-color: #001e1d;
    width: 49%;
    height: 49%;
    
}
#info-container{
    width: 99%;
}

#objetivo{
    /* padding-right: 5%; */
    height: 40%;
    width: 49%;
}

#contacto {
    width: 49%;
}

#proyectos{
    width: 49%;
}


#habilidades{
    width: 49%;
}

#mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

#foto{
    border: 1pt solid #abd1c6;
    /* width: 49%; */
}

