@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;600;700&display=swap');


*{
    font-family: 'Geologica', sans-serif;
    box-sizing: border-box;
    color:#001e1d;
    background-color: #e8e4e6;
}



.left-flex{
    width: 39%;
}

.right-flex{
    width: 59%;
    padding-right: 1rem;
    background-color: #e8e4e6;
}

.super-tittle{
    color: #0f3433;
}

.tittle{   
    font-family: 'Roboto', serif;
    color: #fffffe;
    background-color: #004643;
    text-align: center;
    
}


.subtittle{
    font-family: 'Geologica', sans-serif;
    color: #001e1d;
    font-size: 150%;
}


.header {
    position: sticky;
    opacity:96%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    
}
.header .flex{
    display:flex;
    background-color: #004643;
    align-items:center;
    justify-content:center;
    position:relative;
    padding: 1.2rem 2rem;
    overflow:hidden;
    flex-wrap: inherit;
}

.header .flex .navbar{
    display:flex; 
    width: 100%;
    justify-content: space-between;
    background-color: #004643;
    align-items:center; 
}


.header .flex .navbar a{
    background-color: #004643;
    float: left;
    padding: 0 1rem 0 1rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #e8e4e6;
}

.header .flex .navbar a:hover{
    text-decoration: wavy;
    color: #079790;
}

h1{
    font-family: 'Rubik',sans-serif;
    color: #0f3433;
    font-size:xx-large;
}

a{
    text-decoration:underline;
    font-size: 1.2rem;
}


td{
    width: auto;
    height:1rem;
    display: -webkit-box;
    word-break: break-word; 

}
tr{
    height: 3rem;
}
a:hover{
    text-decoration:wavy;
    color: #079790;
}


main{
    display: flex;
    row-gap: 0.2rem;
    column-gap: 0.5rem;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: #e8e4e6;
}



.about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: #001e1d;
    
}

.about-me .image img{
    width: 350px;
}
.about-me .image{
    background-color: #001e1d;
}

.about-me .content{
    padding-right: 2rem;
    width: 65%;
    background-color: #001e1d;
}

#objetivo p{
    background-color: #001e1d;
    color: #e8e4e6;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    min-width: 50%;
    padding-right: 20%;
}


label,input {
    display:inline;
    word-break: break-word;
}

input{
    width: 50%;
}

label {
    width: 100%;
    text-align: left;
}
  


#map{
    width: 100%;
    position: relative;
}

#formulario .buttons{
    display: flex;
    gap: 1rem;
    text-align:start;
}
  
#formulario .buttons button{
    display:inline-block;
    width:5rem;
    min-width: 5rem;
    
}

#formulario .buttons button:hover{
    column-gap: 2rem;
    background-color:#004643d2;
    color: #e8e4e6;
}

@media only screen and (max-width: 620px) {
    .header .flex{
      display: none;
    }
    .about-me .image{
        display: none;
    }
    .about-me .content{
        width: 100%;
    }
    .left-flex{
        width: 100%;
    }
    .right-flex{
        width: 100%;
    }
}
